#wb_header { background: transparent none repeat scroll left top; height: 150px; }
#wb_header { height: 150px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 1100px; padding: 0 0 50px 0; }
#wb_main { height: 2200px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 80px; }
#wb_footer { height: 80px; }
body { background: #ffffff url("../gallery_gen/acd82e791cc870429f14fd7532dac50b.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 2480px; }
.root { width: 320px; height: 2480px; overflow: hidden; }
#wb_element_instance0 { left: 0px; top: 100px; min-width: 64px; width: 64px; min-height: 50px; height: 50px; display: block; z-index: 258; }
#wb_element_instance0 ul { background: #04bfd4 none repeat scroll left top; }
#wb_element_instance0 .btn-collapser { display: inline-block; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance0.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance0 ul { border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: center; }
#wb_element_instance0 ul ul { background: #04bfd4 none repeat scroll left top; }
#wb_element_instance0 li { margin: 0px 10px 0px 10px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 10px 50px 10px 50px; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffe347; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffe347; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance1 { left: 0px; top: 99px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; z-index: 214; }
#wb_element_instance1 > div { width: 320px; height: 50px; background: #04bfd4; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance2 { left: 50px; top: 0px; min-width: 260px; width: 260px; min-height: 72px; height: 72px; display: block; z-index: 259; }
#wb_element_instance3 { left: 0px; top: 33px; min-width: 15px; width: 15px; min-height: 40px; height: 40px; display: block; z-index: 261; }
#wb_element_instance3 > div { width: 15px; height: 40px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance4 { left: 15px; top: 23px; min-width: 15px; width: 15px; min-height: 50px; height: 50px; display: block; z-index: 263; }
#wb_element_instance4 > div { width: 15px; height: 50px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance5 { left: 30px; top: 48px; min-width: 15px; width: 15px; min-height: 25px; height: 25px; display: block; z-index: 265; }
#wb_element_instance5 > div { width: 15px; height: 25px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance6 { left: 280px; top: 40px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 260; }
#wb_element_instance6 img { width: 30px; height: 30px; position: static; left: 0px; top: 0px; }
#wb_element_instance7 { left: 160px; top: 43px; min-width: 116px; width: 116px; min-height: 24px; height: 24px; display: block; z-index: 280; }
#wb_element_instance8 { left: 0px; top: 1660px; min-width: 300px; width: 300px; min-height: 156px; height: 156px; display: block; z-index: 123; }
#wb_element_instance9 { left: 44px; top: 2140px; min-width: 230px; width: 230px; min-height: 60px; height: 60px; display: block; z-index: 172; }
#wb_element_instance9 a span { padding: 20px 0px 0px 0px; }
#wb_element_instance9 a { width: 230px; height: 60px; }
#wb_element_instance9 a { font-family: Arial,Helvetica,sans-serif; font-size: 20px; text-align: center; border: 0px solid #ff9500; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; background: #04bfd4 none repeat scroll left top; }
#wb_element_instance9 a:hover { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; background: #0291a1 none repeat scroll left top; }
#wb_element_instance9 a:active { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; background: #0fbc71 none repeat scroll left top; }
#wb_element_instance10 { left: 0px; top: 1357px; min-width: 310px; width: 310px; min-height: 36px; height: 36px; display: block; z-index: 198; }
#wb_element_instance11 { left: 55px; top: 60px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; z-index: 199; }
#wb_element_instance11 > div { width: 184px; height: 184px; background: #04bfd4; border: 8px solid #ffffff; opacity: 1; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; }
#wb_element_instance12 { left: 55px; top: 921px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; z-index: 201; }
#wb_element_instance12 > div { width: 184px; height: 184px; background: #04bfd4; border: 8px solid #ffffff; opacity: 1; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; }
#wb_element_instance13 { left: 55px; top: 480px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; z-index: 202; }
#wb_element_instance13 > div { width: 184px; height: 184px; background: #04bfd4; border: 8px solid #ffffff; opacity: 1; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; }
#wb_element_instance14 { left: 26px; top: 280px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; z-index: 203; }
#wb_element_instance15 { left: 26px; top: 701px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; z-index: 205; }
#wb_element_instance16 { left: 9px; top: 1139px; min-width: 300px; width: 300px; min-height: 24px; height: 24px; display: block; z-index: 207; }
#wb_element_instance17 { left: 14px; top: 1187px; min-width: 290px; width: 290px; min-height: 130px; height: 130px; display: block; z-index: 208; }
#wb_element_instance18 { left: 15px; top: 320px; min-width: 290px; width: 290px; min-height: 130px; height: 130px; display: block; z-index: 210; }
#wb_element_instance19 { left: 5px; top: 756px; min-width: 310px; width: 310px; min-height: 104px; height: 104px; display: block; z-index: 212; }
#wb_element_instance20 { left: 100px; top: 960px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; z-index: 213; }
#wb_element_instance20 img { width: 110px; height: 110px; position: static; left: 0px; top: 0px; }
#wb_element_instance21 { left: 100px; top: 100px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; z-index: 214; }
#wb_element_instance21 img { width: 110px; height: 110px; position: static; left: 0px; top: 0px; }
#wb_element_instance22 { left: 100px; top: 530px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; z-index: 215; }
#wb_element_instance22 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
#wb_element_instance23 { left: 0px; top: 1420px; min-width: 320px; width: 320px; min-height: 200px; height: 200px; display: block; z-index: 216; }
#wb_element_instance23 > div { width: 320px; height: 200px; background: #cae8ed; border: 5px none #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance24 { left: 80px; top: 1450px; min-width: 150px; width: 150px; min-height: 130px; height: 130px; display: block; z-index: 217; }
#wb_element_instance24 img { width: 150px; height: 130px; position: static; left: 0px; top: 0px; }
#wb_element_instance25 { left: 0px; top: 1120px; display: block; z-index: 9000; }
#wb_element_instance26 { left: 0px; top: 87px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 150px; }
	#wb_main { height: 1210px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 768px; min-height: 1490px; }
	.root { width: 768px; height: 1490px; overflow: visible; }
	#wb_element_instance0 { left: 0px; top: 104px; min-width: 760px; width: 760px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 0px; top: 99px; min-width: 760px; width: 760px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance1 > div { width: 760px; height: 50px; }
	#wb_element_instance2 { left: 70px; top: 20px; min-width: 450px; width: 450px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance3 { left: 0px; top: 30px; min-width: 20px; width: 20px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance3 > div { width: 20px; height: 50px; }
	#wb_element_instance4 { left: 20px; top: 20px; min-width: 20px; width: 20px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance4 > div { width: 20px; height: 60px; }
	#wb_element_instance5 { left: 40px; top: 50px; min-width: 20px; width: 20px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance5 > div { width: 20px; height: 30px; }
	#wb_element_instance6 { left: 700px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance6 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance7 { left: 600px; top: 43px; min-width: 116px; width: 116px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance8 { left: 350px; top: 770px; min-width: 400px; width: 400px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance9 { left: 350px; top: 1150px; min-width: 230px; width: 230px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance9 a span { padding: 20px 0px 0px 0px; }
	#wb_element_instance9 a { width: 230px; height: 60px; }
	#wb_element_instance10 { left: 0px; top: 700px; min-width: 760px; width: 760px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance11 { left: 35px; top: 100px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance11 > div { width: 184px; height: 184px; }
	#wb_element_instance12 { left: 290px; top: 100px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance12 > div { width: 184px; height: 184px; }
	#wb_element_instance13 { left: 540px; top: 100px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance13 > div { width: 184px; height: 184px; }
	#wb_element_instance14 { left: 3px; top: 339px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance15 { left: 260px; top: 340px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance16 { left: 510px; top: 340px; min-width: 250px; width: 250px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance17 { left: 20px; top: 390px; min-width: 220px; width: 220px; min-height: 156px; height: 156px; display: block; }
	#wb_element_instance18 { left: 290px; top: 390px; min-width: 210px; width: 210px; min-height: 156px; height: 156px; display: block; }
	#wb_element_instance19 { left: 540px; top: 390px; min-width: 210px; width: 210px; min-height: 156px; height: 156px; display: block; }
	#wb_element_instance20 { left: 580px; top: 140px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance20 img { width: 110px; height: 110px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 80px; top: 140px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance21 img { width: 110px; height: 110px; position: static; left: 0px; top: 0px; }
	#wb_element_instance22 { left: 340px; top: 150px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance22 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
	#wb_element_instance23 { left: 0px; top: 780px; min-width: 310px; width: 310px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance23 > div { width: 310px; height: 200px; }
	#wb_element_instance24 { left: 80px; top: 810px; min-width: 150px; width: 150px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance24 img { width: 150px; height: 130px; position: static; left: 0px; top: 0px; }
}

@media (min-width: 992px) {
	#wb_header { height: 150px; }
	#wb_main { height: 1100px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 992px; min-height: 1380px; }
	.root { width: 992px; height: 1380px; overflow: visible; }
	#wb_element_instance0 { left: 0px; top: 80px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 0px; top: 99px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance1 > div { width: 990px; height: 50px; }
	#wb_element_instance2 { left: 70px; top: 10px; min-width: 510px; width: 510px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance3 { left: 0px; top: 30px; min-width: 20px; width: 20px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance3 > div { width: 20px; height: 50px; }
	#wb_element_instance4 { left: 20px; top: 20px; min-width: 20px; width: 20px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance4 > div { width: 20px; height: 60px; }
	#wb_element_instance5 { left: 40px; top: 50px; min-width: 20px; width: 20px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance5 > div { width: 20px; height: 30px; }
	#wb_element_instance6 { left: 930px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance6 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance7 { left: 830px; top: 43px; min-width: 138px; width: 138px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance8 { left: 360px; top: 790px; min-width: 630px; width: 630px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance9 { left: 360px; top: 1040px; min-width: 230px; width: 230px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance9 a span { padding: 20px 0px 0px 0px; }
	#wb_element_instance9 a { width: 230px; height: 60px; }
	#wb_element_instance10 { left: 0px; top: 700px; min-width: 940px; width: 940px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance11 { left: 78px; top: 98px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance11 > div { width: 184px; height: 184px; }
	#wb_element_instance12 { left: 400px; top: 98px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance12 > div { width: 184px; height: 184px; }
	#wb_element_instance13 { left: 733px; top: 98px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance13 > div { width: 184px; height: 184px; }
	#wb_element_instance14 { left: 46px; top: 338px; min-width: 260px; width: 260px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance15 { left: 370px; top: 338px; min-width: 260px; width: 260px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance16 { left: 683px; top: 338px; min-width: 300px; width: 300px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance17 { left: 30px; top: 389px; min-width: 290px; width: 290px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance18 { left: 360px; top: 388px; min-width: 290px; width: 290px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance19 { left: 680px; top: 388px; min-width: 310px; width: 310px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance20 { left: 779px; top: 144px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance20 img { width: 110px; height: 110px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 124px; top: 142px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance21 img { width: 110px; height: 110px; position: static; left: 0px; top: 0px; }
	#wb_element_instance22 { left: 451px; top: 150px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance22 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
	#wb_element_instance23 { left: 0px; top: 790px; min-width: 320px; width: 320px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance23 > div { width: 320px; height: 200px; }
	#wb_element_instance24 { left: 80px; top: 820px; min-width: 150px; width: 150px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance24 img { width: 150px; height: 130px; position: static; left: 0px; top: 0px; }
}

@media (min-width: 1200px) {
	#wb_header { height: 150px; }
	#wb_main { height: 1100px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1380px; }
	.root { width: 1200px; height: 1380px; overflow: visible; }
	#wb_element_instance0 { left: 90px; top: 104px; min-width: 1000px; width: 1000px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 0px; top: 100px; min-width: 1200px; width: 1200px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance1 > div { width: 1200px; height: 50px; }
	#wb_element_instance2 { left: 80px; top: 20px; min-width: 520px; width: 520px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance3 { left: 0px; top: 30px; min-width: 20px; width: 20px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance3 > div { width: 20px; height: 50px; }
	#wb_element_instance4 { left: 20px; top: 20px; min-width: 20px; width: 20px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance4 > div { width: 20px; height: 60px; }
	#wb_element_instance5 { left: 40px; top: 50px; min-width: 20px; width: 20px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance5 > div { width: 20px; height: 30px; }
	#wb_element_instance6 { left: 1140px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance6 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance7 { left: 980px; top: 30px; min-width: 138px; width: 138px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance8 { left: 431px; top: 790px; min-width: 700px; width: 700px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance9 { left: 431px; top: 1040px; min-width: 230px; width: 230px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance9 a span { padding: 20px 0px 0px 0px; }
	#wb_element_instance9 a { width: 230px; height: 60px; }
	#wb_element_instance10 { left: 50px; top: 690px; min-width: 940px; width: 940px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance11 { left: 94px; top: 98px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance11 > div { width: 184px; height: 184px; }
	#wb_element_instance12 { left: 504px; top: 98px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance12 > div { width: 184px; height: 184px; }
	#wb_element_instance13 { left: 925px; top: 98px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance13 > div { width: 184px; height: 184px; }
	#wb_element_instance14 { left: 62px; top: 338px; min-width: 260px; width: 260px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance15 { left: 474px; top: 338px; min-width: 260px; width: 260px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance16 { left: 875px; top: 338px; min-width: 300px; width: 300px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance17 { left: 46px; top: 389px; min-width: 290px; width: 290px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance18 { left: 464px; top: 388px; min-width: 290px; width: 290px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance19 { left: 872px; top: 388px; min-width: 310px; width: 310px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance20 { left: 971px; top: 144px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance20 img { width: 110px; height: 110px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 139px; top: 143px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance21 img { width: 110px; height: 110px; position: static; left: 0px; top: 0px; }
	#wb_element_instance22 { left: 556px; top: 150px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance22 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
	#wb_element_instance23 { left: 50px; top: 790px; min-width: 330px; width: 330px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance23 > div { width: 330px; height: 200px; }
	#wb_element_instance24 { left: 140px; top: 820px; min-width: 150px; width: 150px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance24 img { width: 150px; height: 130px; position: static; left: 0px; top: 0px; }
}
