#wb_header { background: transparent none repeat scroll left top; height: 150px; }
#wb_header { height: 150px; }
#wb_main { background: transparent none repeat scroll left top; height: 894px; padding: 0 0 30px 0; }
#wb_main { height: 1348px; }
#wb_footer { background: transparent url("gallery/vintage_footer.jpg") repeat scroll left top; height: 80px; }
#wb_footer { height: 80px; }
body { background: transparent url("../gallery_gen/d81f9c1be2e08964bf9f24b15f0e4900.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 1608px; }
.root { width: 320px; height: 1608px; overflow: hidden; }
#wb_element_instance27 { left: 0px; top: 100px; min-width: 64px; width: 64px; min-height: 50px; height: 50px; display: block; z-index: 258; }
#wb_element_instance27 ul { background: #04bfd4 none repeat scroll left top; }
#wb_element_instance27 .btn-collapser { display: inline-block; }
#wb_element_instance27 > ul { display: none; }
#wb_element_instance27.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance27.collapse-expanded > ul > li { display: block; }
#wb_element_instance27.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance27.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance27 ul { border: 1px none #000000; }
#wb_element_instance27, #wb_element_instance27 ul { text-align: center; }
#wb_element_instance27 ul ul { background: #04bfd4 none repeat scroll left top; }
#wb_element_instance27 li { margin: 0px 10px 0px 10px; }
#wb_element_instance27 li a { text-transform: none; border: 0px none #000000; padding: 10px 50px 10px 50px; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance27 li:hover > a, #wb_element_instance27 li:focus > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffe347; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance27 li.active > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffe347; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance28 { left: 0px; top: 99px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; z-index: 214; }
#wb_element_instance28 > div { width: 320px; height: 50px; background: #04bfd4; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance29 { left: 50px; top: 0px; min-width: 260px; width: 260px; min-height: 72px; height: 72px; display: block; z-index: 259; }
#wb_element_instance30 { left: 0px; top: 33px; min-width: 15px; width: 15px; min-height: 40px; height: 40px; display: block; z-index: 261; }
#wb_element_instance30 > div { width: 15px; height: 40px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance31 { left: 15px; top: 23px; min-width: 15px; width: 15px; min-height: 50px; height: 50px; display: block; z-index: 263; }
#wb_element_instance31 > div { width: 15px; height: 50px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance32 { left: 30px; top: 48px; min-width: 15px; width: 15px; min-height: 25px; height: 25px; display: block; z-index: 265; }
#wb_element_instance32 > div { width: 15px; height: 25px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance33 { left: 280px; top: 40px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 260; }
#wb_element_instance33 img { width: 30px; height: 30px; position: static; left: 0px; top: 0px; }
#wb_element_instance34 { left: 0px; top: 230px; min-width: 320px; width: 320px; min-height: 1118px; height: 1118px; display: block; z-index: 85; }
#wb_element_instance35 { left: 160px; top: 43px; min-width: 116px; width: 116px; min-height: 24px; height: 24px; display: block; z-index: 280; }
#wb_element_instance36 { left: 0px; top: 60px; min-width: 200px; width: 200px; min-height: 28px; height: 28px; display: block; z-index: 158; }
#wb_element_instance37 { left: 0px; top: 43px; min-width: 320px; width: 320px; min-height: 24px; height: 24px; display: block; z-index: 279; }
#wb_element_instance38 { left: 0px; top: 914px; display: block; z-index: 9000; }
#wb_element_instance39 { left: 0px; top: 87px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 150px; }
	#wb_main { height: 750px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 768px; min-height: 1010px; }
	.root { width: 768px; height: 1010px; overflow: visible; }
	#wb_element_instance27 { left: 0px; top: 104px; min-width: 760px; width: 760px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance27 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance27 .btn-collapser { display: none; }
	#wb_element_instance27 > ul { display: block; }
	#wb_element_instance28 { left: 0px; top: 99px; min-width: 760px; width: 760px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance28 > div { width: 760px; height: 50px; }
	#wb_element_instance29 { left: 70px; top: 20px; min-width: 450px; width: 450px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance30 { left: 0px; top: 30px; min-width: 20px; width: 20px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance30 > div { width: 20px; height: 50px; }
	#wb_element_instance31 { left: 20px; top: 20px; min-width: 20px; width: 20px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 > div { width: 20px; height: 60px; }
	#wb_element_instance32 { left: 40px; top: 50px; min-width: 20px; width: 20px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance32 > div { width: 20px; height: 30px; }
	#wb_element_instance33 { left: 700px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance33 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 0px; top: 240px; min-width: 760px; width: 760px; min-height: 520px; height: 520px; display: block; }
	#wb_element_instance35 { left: 600px; top: 43px; min-width: 116px; width: 116px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance36 { left: 0px; top: 60px; min-width: 200px; width: 200px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance37 { left: 0px; top: 43px; min-width: 513px; width: 513px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 150px; }
	#wb_main { height: 894px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 992px; min-height: 1154px; }
	.root { width: 992px; height: 1154px; overflow: visible; }
	#wb_element_instance27 { left: 0px; top: 80px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance27 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance27 .btn-collapser { display: none; }
	#wb_element_instance27 > ul { display: block; }
	#wb_element_instance28 { left: 0px; top: 99px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance28 > div { width: 990px; height: 50px; }
	#wb_element_instance29 { left: 70px; top: 10px; min-width: 510px; width: 510px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance30 { left: 0px; top: 30px; min-width: 20px; width: 20px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance30 > div { width: 20px; height: 50px; }
	#wb_element_instance31 { left: 20px; top: 20px; min-width: 20px; width: 20px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 > div { width: 20px; height: 60px; }
	#wb_element_instance32 { left: 40px; top: 50px; min-width: 20px; width: 20px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance32 > div { width: 20px; height: 30px; }
	#wb_element_instance33 { left: 930px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance33 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 0px; top: 240px; min-width: 990px; width: 990px; min-height: 654px; height: 654px; display: block; }
	#wb_element_instance35 { left: 830px; top: 43px; min-width: 138px; width: 138px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance36 { left: 0px; top: 60px; min-width: 200px; width: 200px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance37 { left: 0px; top: 43px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 150px; }
	#wb_main { height: 622px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 1200px; min-height: 882px; }
	.root { width: 1200px; height: 882px; overflow: visible; }
	#wb_element_instance27 { left: 90px; top: 104px; min-width: 1000px; width: 1000px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance27 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance27 .btn-collapser { display: none; }
	#wb_element_instance27 > ul { display: block; }
	#wb_element_instance28 { left: 0px; top: 100px; min-width: 1200px; width: 1200px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance28 > div { width: 1200px; height: 50px; }
	#wb_element_instance29 { left: 80px; top: 20px; min-width: 520px; width: 520px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance30 { left: 0px; top: 30px; min-width: 20px; width: 20px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance30 > div { width: 20px; height: 50px; }
	#wb_element_instance31 { left: 20px; top: 20px; min-width: 20px; width: 20px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance31 > div { width: 20px; height: 60px; }
	#wb_element_instance32 { left: 40px; top: 50px; min-width: 20px; width: 20px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance32 > div { width: 20px; height: 30px; }
	#wb_element_instance33 { left: 1140px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance33 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 0px; top: 240px; min-width: 1190px; width: 1190px; min-height: 614px; height: 614px; display: block; }
	#wb_element_instance35 { left: 980px; top: 30px; min-width: 138px; width: 138px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance36 { left: 0px; top: 60px; min-width: 200px; width: 200px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance37 { left: 690px; top: 60px; min-width: 510px; width: 510px; min-height: 24px; height: 24px; display: block; }
}
