#wb_header { background: transparent none repeat scroll left top; height: 126px; }
#wb_header { height: 150px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 299px; padding: 0 0 50px 0; }
#wb_main { height: 960px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 80px; }
#wb_footer { height: 80px; }
body { background: transparent url("../gallery_gen/d81f9c1be2e08964bf9f24b15f0e4900.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 1240px; }
.root { width: 320px; height: 1240px; overflow: hidden; }
#wb_element_instance54 { left: 0px; top: 100px; min-width: 64px; width: 64px; min-height: 50px; height: 50px; display: block; z-index: 258; }
#wb_element_instance54 ul { background: #04bfd4 none repeat scroll left top; }
#wb_element_instance54 .btn-collapser { display: inline-block; }
#wb_element_instance54 > ul { display: none; }
#wb_element_instance54.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance54.collapse-expanded > ul > li { display: block; }
#wb_element_instance54.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance54.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance54 ul { border: 1px none #000000; }
#wb_element_instance54, #wb_element_instance54 ul { text-align: center; }
#wb_element_instance54 ul ul { background: #04bfd4 none repeat scroll left top; }
#wb_element_instance54 li { margin: 0px 10px 0px 10px; }
#wb_element_instance54 li a { text-transform: none; border: 0px none #000000; padding: 10px 50px 10px 50px; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance54 li:hover > a, #wb_element_instance54 li:focus > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffe347; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance54 li.active > a { border: 0px none #000000; font: normal bold 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffe347; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance55 { left: 0px; top: 99px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; z-index: 214; }
#wb_element_instance55 > div { width: 320px; height: 50px; background: #04bfd4; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance56 { left: 50px; top: 0px; min-width: 260px; width: 260px; min-height: 72px; height: 72px; display: block; z-index: 259; }
#wb_element_instance57 { left: 0px; top: 33px; min-width: 15px; width: 15px; min-height: 40px; height: 40px; display: block; z-index: 261; }
#wb_element_instance57 > div { width: 15px; height: 40px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance58 { left: 15px; top: 23px; min-width: 15px; width: 15px; min-height: 50px; height: 50px; display: block; z-index: 263; }
#wb_element_instance58 > div { width: 15px; height: 50px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance59 { left: 30px; top: 48px; min-width: 15px; width: 15px; min-height: 25px; height: 25px; display: block; z-index: 265; }
#wb_element_instance59 > div { width: 15px; height: 25px; background: #ffffff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance60 { left: 280px; top: 40px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 260; }
#wb_element_instance60 img { width: 30px; height: 30px; position: static; left: 0px; top: 0px; }
#wb_element_instance61 { left: 160px; top: 43px; min-width: 116px; width: 116px; min-height: 24px; height: 24px; display: block; z-index: 280; }
#wb_element_instance62 { left: 0px; top: 300px; min-width: 320px; width: 320px; min-height: 260px; height: 260px; display: block; z-index: 103; }
#wb_element_instance63 { left: 0px; top: 230px; min-width: 320px; width: 320px; min-height: 24px; height: 24px; display: block; z-index: 143; }
#wb_element_instance64 { left: 0px; top: 60px; min-width: 200px; width: 200px; min-height: 28px; height: 28px; display: block; z-index: 154; }
#wb_element_instance65 { left: 0px; top: 319px; display: block; z-index: 9000; }
#wb_element_instance66 { left: 0px; top: 87px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 150px; }
	#wb_main { height: 648px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 768px; min-height: 928px; }
	.root { width: 768px; height: 928px; overflow: visible; }
	#wb_element_instance54 { left: 0px; top: 104px; min-width: 760px; width: 760px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance54 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance54 .btn-collapser { display: none; }
	#wb_element_instance54 > ul { display: block; }
	#wb_element_instance55 { left: 0px; top: 99px; min-width: 760px; width: 760px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance55 > div { width: 760px; height: 50px; }
	#wb_element_instance56 { left: 70px; top: 20px; min-width: 450px; width: 450px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance57 { left: 0px; top: 30px; min-width: 20px; width: 20px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance57 > div { width: 20px; height: 50px; }
	#wb_element_instance58 { left: 20px; top: 20px; min-width: 20px; width: 20px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance58 > div { width: 20px; height: 60px; }
	#wb_element_instance59 { left: 40px; top: 50px; min-width: 20px; width: 20px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance59 > div { width: 20px; height: 30px; }
	#wb_element_instance60 { left: 700px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance60 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance61 { left: 600px; top: 43px; min-width: 116px; width: 116px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance62 { left: 0px; top: 300px; min-width: 760px; width: 760px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance63 { left: 0px; top: 240px; min-width: 760px; width: 760px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance64 { left: 0px; top: 60px; min-width: 200px; width: 200px; min-height: 32px; height: 32px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 126px; }
	#wb_main { height: 299px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 992px; min-height: 555px; }
	.root { width: 992px; height: 555px; overflow: visible; }
	#wb_element_instance54 { left: 0px; top: 80px; min-width: 990px; width: 990px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance54 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance54 .btn-collapser { display: none; }
	#wb_element_instance54 > ul { display: block; }
	#wb_element_instance55 { left: 0px; top: 99px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance55 > div { width: 990px; height: 50px; }
	#wb_element_instance56 { left: 70px; top: 10px; min-width: 510px; width: 510px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance57 { left: 0px; top: 30px; min-width: 20px; width: 20px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance57 > div { width: 20px; height: 50px; }
	#wb_element_instance58 { left: 20px; top: 20px; min-width: 20px; width: 20px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance58 > div { width: 20px; height: 60px; }
	#wb_element_instance59 { left: 40px; top: 50px; min-width: 20px; width: 20px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance59 > div { width: 20px; height: 30px; }
	#wb_element_instance60 { left: 930px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance60 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance61 { left: 830px; top: 43px; min-width: 138px; width: 138px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance62 { left: 20px; top: 90px; min-width: 970px; width: 970px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance63 { left: -60px; top: 270px; min-width: 970px; width: 970px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance64 { left: 0px; top: 60px; min-width: 200px; width: 200px; min-height: 40px; height: 40px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 150px; }
	#wb_main { height: 580px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 1200px; min-height: 860px; }
	.root { width: 1200px; height: 860px; overflow: visible; }
	#wb_element_instance54 { left: 90px; top: 104px; min-width: 1000px; width: 1000px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance54 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance54 .btn-collapser { display: none; }
	#wb_element_instance54 > ul { display: block; }
	#wb_element_instance55 { left: 0px; top: 100px; min-width: 1200px; width: 1200px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance55 > div { width: 1200px; height: 50px; }
	#wb_element_instance56 { left: 80px; top: 20px; min-width: 520px; width: 520px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance57 { left: 0px; top: 30px; min-width: 20px; width: 20px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance57 > div { width: 20px; height: 50px; }
	#wb_element_instance58 { left: 20px; top: 20px; min-width: 20px; width: 20px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance58 > div { width: 20px; height: 60px; }
	#wb_element_instance59 { left: 40px; top: 50px; min-width: 20px; width: 20px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance59 > div { width: 20px; height: 30px; }
	#wb_element_instance60 { left: 1140px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance60 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance61 { left: 980px; top: 30px; min-width: 138px; width: 138px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance62 { left: 0px; top: 310px; min-width: 1170px; width: 1170px; min-height: 270px; height: 270px; display: block; }
	#wb_element_instance63 { left: 0px; top: 240px; min-width: 970px; width: 970px; min-height: 35px; height: 35px; display: block; }
	#wb_element_instance64 { left: 0px; top: 60px; min-width: 200px; width: 200px; min-height: 48px; height: 48px; display: block; }
}
